*{
    margin: 0;
    padding: 0;
}
/* fixed */
.main{
    width: 1440px;
    height: 800px;
}
.btn{
    border-radius: 50px;
    padding: 0 20px;
}
.header{
    width: 100vw;
    height: 800px;
    background: #10375C;
}
header{
    margin: auto;
    padding-top: 20px;

    display: flex;
    justify-content: space-around;
}

header a{
    margin: 0 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

header a:hover{
    color: orange;
}

header .sign_up{
    background-color: #2E80CE;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
